.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-flow: column nowrap;
  z-index: 10;
}
.hamburger:hover {
  cursor: pointer;
}
.burger {
  width: 2rem;
  height: 0.15em;
  border-radius: 6px;
  background-color: black;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.burger2 {
  width: 1.5rem;
  height: 0.15em;
  border-radius: 4px;
  background-color: black;
  transform-origin: 1px;
  transition: all 0.3s linear;
}
.burger1 {
  rotate: 0;
}
.burger2 {
  transform: translateX(0%);
}
.burger3 {
  rotate: 0;
}
.burger1Active {
  transform: rotate(45deg);
}

.burger2Active {
  opacity: 0;
}
.burger3Active {
  transform: rotate(-45deg);
}
