@media screen and (max-width: 1023px) {
  .projectsContainer {
    width: 100vw;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: #eae6e4;
    align-items: flex-start;
  }

  .projectsText {
    margin: 3vh 8vw 0 8vw;
    display: block;
    height: auto;
  }

  .bigHeader {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3em;
    padding: 2vh 0;
  }

  .projectsDescription {
    font-weight: 400;
    padding-bottom: 3vh;
  }
}

@media screen and (min-width: 1023px) {
  .projectsContainer {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #eae6e4;
  }

  /* .projectsBlob {
    z-index: -10;
    position: absolute;
    border-radius: 50% 50% 50% 50%;
    height: 100vh;
    width: 100vh;
    top: -10vh;
    left: -30vw;
    background-color: #eae6e483;
  } */

  .projectsText {
    padding: 10vh 10vw;

    z-index: 1;
  }
  .smallHeader {
    font-size: 1em;
    text-transform: uppercase;
    font-stretch: condensed;
    font-weight: 400;
  }

  .bigHeader {
    display: block;
    padding-bottom: 1rem;
    font-weight: 900;

    text-transform: uppercase;
    font-size: 5em;
    font-stretch: condensed;
  }

  .projectsDescription {
    font-weight: 400;
  }
}
