@media screen and (max-width: 1023px) {
  .aboutContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }

  .aboutImageContainer {
    z-index: -4;
    position: absolute;
    border-radius: 50% 50% 50% 50%;
    height: 90vw;
    width: 90vw;
    max-width: 600px;
    max-height: 600px;
    min-width: 300px;
    min-height: 300px;
    right: -120px;
    /* left: -30vw; */
    margin: auto;
    background-color: #eae6e4bc;
  }

  .aboutBlobMini {
    z-index: -1;
    border-radius: 50% 50% 50% 50%;
    position: relative;
    display: block;
    margin: 10vh auto auto auto;
    height: 50vw;
    width: 50vw;
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-height: 100px;
    background-color: #f1968f;
  }
  .aboutBlobMini::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .aboutTextContainer {
    margin: 10vh 8vw;
    width: 100%;
    z-index: 1;
  }

  .smallHeader {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .bigHeader {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4em;
  }

  .aboutDescription {
    font-weight: 400;
    width: 100%;
  }
}
@media screen and (min-width: 1023px) {
  .aboutContainer {
    width: 100vw;
    /* overflow: hidden; */
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .aboutImageContainer {
    z-index: -1;
    position: absolute;
    border-radius: 50% 50% 50% 50%;
    height: 50vw;
    width: 50vw;
    max-width: 900px;
    max-height: 900px;
    min-width: 300px;
    min-height: 300px;
    bottom: 4vh;
    right: 25vw;
    /* margin: auto; */
    background-color: #eae6e4bc;
  }
  /* .aboutImageContainer::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  } */
  .aboutBlob {
    z-index: -1;
    position: absolute;
    border-radius: 50% 50% 50% 50%;
    height: 90vh;
    width: 90vh;
    /* max-width: 900px;
    max-height: 900px; */
    /* min-width: 300px;
    min-height: 300px; */
    top: -50vh;
    left: -20vw;
    /* margin: auto; */
    background-color: #eae6e43a;
  }
  .aboutBlobMini {
    z-index: 0;
    border-radius: 50% 50% 50% 50%;
    /* position: relative; */
    /* display: block; */
    /* margin: 10vh auto auto auto; */
    height: 30vw;
    width: 30vw;
    max-width: 400px;
    max-height: 400px;
    min-width: 100px;
    min-height: 100px;
    background-color: #f1968f;
  }

  .aboutTextContainer {
    margin: 0 5vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  .aboutText {
    margin: 2vh 2vw;
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 1;
  }
  .smallHeader {
    font-size: 1em;
    text-transform: uppercase;
    font-stretch: condensed;
    font-weight: 400;
  }

  .bigHeader {
    display: block;
    padding-bottom: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 5em;
    font-stretch: condensed;
  }

  .aboutDescription {
    font-weight: 400;
  }
}
