/* .introContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} */

.navContainer {
  display: flex;
  flex-direction: row;
}
.buttonsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.button1 {
  background-color: #f1968f;
  border-style: solid;
  border-color: #f1968f;
  color: #ffffff;
}

.button2 {
  border-style: solid;
  background-color: #ffffff;
  border-color: black;
}
.button1,
.button2 {
  border-radius: 0;
  width: 8em;
  padding: 0.7em 1em;
  margin-right: 1em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .introContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .introText {
    width: 60%;
    margin: 15vh 8vw;
    z-index: 1;

    /* display: flex; */
  }
  .introImageContainer {
    z-index: -1;
    position: absolute;
    /* overflow: hidden; */
    border-radius: 50% 50% 50% 50%;
    height: 150vw;
    width: 150vw;
    max-height: 850px;
    max-width: 850px;
    min-width: 700px;
    min-height: 700px;
    right: 10px;
    left: -200px;
    top: -20vh;
    background-color: #f3cac7;
  }

  .introBlobMini {
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    top: 450px;
    right: 0%;
    height: auto;
    width: 50vw;
    max-width: 300px;

    background-color: #eb5a60;
  }
  .introBlobMini::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .smallHeader {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .bigHeader {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4.3em;
  }

  .introDescription {
    font-weight: 400;
    width: 100%;
  }
  .button1,
  .button2 {
    border-radius: 0;
    width: 8em;
    padding: 0.7em 1em;
    margin-right: 1em;
    text-transform: uppercase;
  }
}
@media (min-width: 1023px) {
  .introContainer {
    margin: 0 10%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .introImageContainer {
    z-index: 0;
    display: block;
    /* max-width: 1000px; */
    width: 50%;
    margin-top: -20%;
    margin-right: 5%;
  }

  .introBlob {
    border-radius: 50%;
    width: 120%;
    position: relative;
    background-color: #f3cac7;
  }
  .introBlob::before {
    content: "";
    display: block;
    padding-bottom: 100%;
    margin-bottom: -30%;
  }
  .introBlobMini {
    border-radius: 50% 50% 50% 50%;
    width: 30%;
    z-index: 1;
    background-color: #eb5a60;
  }
  .introBlobMini::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .introText {
    margin-top: 15%;
    width: 30%;
    z-index: 2;
  }
  .smallHeader {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
  }

  .bigHeader {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 6em;
  }

  .introDescription {
    font-weight: 400;
  }
}
