@media screen and (max-width: 1023px) {
  .embla {
    --slide-spacing: 1rem;
    --slide-size: 90vw;
    --slide-height: 90vw;
    --project1-colour: #f0676c;
    --project2-colour: #709e83;
    --project3-colour: #e16b00;
    margin: 5vh 0;
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    flex: 0 0 100%;
    max-height: 600px;
    max-width: 600px;
    min-width: 0;
    overflow: hidden;
  }

  .embla__viewport {
    margin: 4vh 0;
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    height: var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }

  .embla__slide:hover {
    cursor: pointer;
  }

  .embla__slide__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .embla__isTapped {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    padding-left: 4vw;
    padding-right: 8vw;
    object-fit: cover;
    background-color: #ffffffc0;
    backdrop-filter: blur(5px);
    flex-direction: column;
    justify-content: center;
  }
  .projectHeader {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 900;
    padding: 1vw 0;
  }
  .projectDesc {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 3vh;
  }
  .projectSeeMore {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 800;
  }

  .p1 {
    color: var(--project1-colour);
  }
  .p2 {
    color: var(--project2-colour);
  }
  .p3 {
    color: var(--project3-colour);
  }
}

@media screen and (min-width: 1023px) {
  .embla {
    display: none;
  }
}
