@media screen and (max-width: 768px) {
  .embla {
    --slide-spacing: 1rem;
    --slide-size: 90vw;
    --slide-height: 90vw;
    margin: 5vh 0;
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    overflow: hidden;
  }

  .embla__viewport {
    margin: 4vh 0;
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }

  .embla__slide:hover {
    cursor: pointer;
  }

  .embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
  }
  .embla__isTapped {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    padding-left: 4vw;
    padding-right: 8vw;
    object-fit: cover;
    background-color: #ffffffd0;
    flex-direction: column;
    justify-content: center;
  }
  .projectHeader {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 900;
    padding: 1vw 0;
  }
  .projectDesc {
    font-weight: 400;
    padding-bottom: 3vh;
  }
}

@media screen and (min-width: 768px) {
  .embla {
    display: none;
  }
}
