@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.button1 {
  background-color: #f1968f;
  border-style: solid;
  border-color: #f1968f;
  color: #ffffff;
}

.button2 {
  border-style: solid;
  background-color: #ffffff;
  border-color: black;
}

@media screen and (max-width: 768px) {
  .bigHeader {
    animation: fadeInAnimation ease-in 1s;
    display: block;
    font-weight: 900;
    font-stretch: condensed;
    line-height: 1;
    text-transform: uppercase;
    font-size: 17vw;
  }
}

@media screen and (min-width: 768px) {
  .bigHeader {
    animation: fadeInAnimation ease-in 1s;
    display: block;
    font-weight: 900;
    font-stretch: condensed;
    line-height: 1;
    text-transform: uppercase;
    font-size: 12vw;
  }
}

@media screen and (max-width: 1023px) {
  .introContainer {
    width: 100vw;

    position: relative;
    display: block;
    /* justify-content: center; */
  }

  .introImageContainer {
    z-index: -1;
    position: absolute;
    border-radius: 50% 50% 50% 50%;
    height: 110vh;
    width: 110vh;
    min-width: 700px;
    min-height: 700px;
    left: -20vw;
    top: -20vh;
    background-color: #f3cac7;
  }

  .introBlobMini {
    z-index: -1;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    bottom: 5vh;
    right: 4vw;
    height: auto;
    width: 20vh;
    max-width: 300px;
    background-color: #f0676c;
  }
  .introBlobMini::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .introText {
    display: flex;

    flex-direction: column;
    justify-content: center;
    margin: -10vh 8vw;
    height: 100%;
    width: 70%;
    z-index: 1;
  }

  .smallHeader {
    font-size: 0.7em;
    padding-left: 0.2em;
    text-transform: uppercase;
    font-weight: 400;
  }

  .introDescription {
    font-weight: 400;
    font-size: 1em;
    width: 100%;
  }
}
@media screen and (min-width: 1023px) {
  .introContainer {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .introImageContainer {
    z-index: -1;
    position: relative;
    border-radius: 50% 50% 50% 50%;
    height: 60vw;
    width: 60vw;
    margin-top: -40vh;
    padding-left: 10vw;
    background-color: #f3cac7;
  }

  .introBlobMini {
    border-radius: 50% 50% 50% 50%;
    position: relative;
    margin-left: -58vw;
    margin-bottom: -40vh;
    width: 30vh;
    background-color: #eb5a60;
  }
  .introBlobMini::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .introText {
    margin: 0 10vw;
    width: 40%;
    z-index: 2;
    padding-right: 5vw;
  }
  .smallHeader {
    font-size: 0.8em;
    padding-left: 0.2em;
    text-transform: uppercase;
    font-stretch: condensed;
    font-weight: 400;
  }

  .bigHeader {
    display: block;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 8vw;
    font-stretch: condensed;
  }

  .introDescription {
    padding-left: 0.2em;
    font-size: large;
    font-weight: 400;
  }
}

@media screen and (min-width: 2500px) {
  .bigHeader {
    display: block;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 9em;
    font-stretch: condensed;
  }
}
